* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

.resume-container {
  width: 595px;
  height: 842px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: white;
}

.resume-container img{
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
  border-radius: 50%;
}

.resume-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume-header h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.columns-2{
  columns: 2;
}

.resume-header h2 {
  font-size: 1em;
  font-weight: bold;
}

.resume-section h3 {
  font-size: 1.2em; font-weight: bold; margin-top: 8px;
}

.resume-section h4 {
  font-size: 1.2em;
  margin: 0;
  color: #007BFF;
}

.resume-container p{
  margin: 0;
  padding: 0;
  font-size: 12px;
  word-wrap: break-word !important;
}

/** Education Section */
.education-item {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.education-institution {
  font-size: 1em;
  color: #555;
  margin: 5px 0;
}

.education-dates {
  font-size: 0.9em;
  color: #777;
}

/** Experience Section */
.experience-description {
  margin-top: 10px;
  font-size: 0.9em;
  color: #444;
  line-height: 1.4;
}

/** Skills Section */

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}

.skills-list li{
  margin: 0 !important;
  padding: 0 !important;
  background-color: #007BFF;
  padding: 0 8px 12px 8px !important;
  color: white;
  font-size: 0.9em;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}



